.home .eJRFED {
    padding-top: 0px;
}
body{
    margin:0;
    background-color: #141414;
    font-family: Rubik,Arial,sans-serif;;
}

.eJRFED {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 80px 0px 0px;
    visibility: visible;
}
.herostyles__MediaWrapper video{
    width:100%;
}

.kPbWzb {
    position: absolute;
    top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
    font-family: var(--medium-font);
    font-weight: bold;
    font-size: 30px;
    margin: 0px auto;
    max-width: 900px;
    text-align: center;
    padding: 0px 52px;
    line-height: 1.4;
    letter-spacing: -0.3px;
    z-index: 1000000;
    color: white;
}
.kPbWzb span {
    display: block;
}

.about-showbox
{
    margin-top:5% !important;
    color: white;
    width:50%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.2px;
}
.grWKUB {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}
.gUPITN {
    position: relative;
    width: 100%;
    max-width: 336px;
    padding: 24px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 0px auto;
    bottom: -24px;
}
.bmymIw {
    font-family: var(--medium-font);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.6px;
    margin: 0px;
}
.cJCEBD {
    font-family: var(--light-font);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.2px;
    margin: 8px 0px;
}
.fmiCvz {
    font-family: var(--bold-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color:#8c52ff;
    text-decoration: none;
    margin: 0px;
}
.cGrGmh {
    color: inherit;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.bZzUsA {
    width: 80%;
    position: relative;
    align-self: center;
    background-image: url(https://images.ctfassets.net/4cd45et68cgf/1Qg13BHGfuXpFVpSaUIwuS/2fc9fa4cfb17f5e8dda950a8bc902510/Web-7577.jpg?w=2300);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 375px;
    margin: 0px auto;
}
.hrwgXh {
    padding: 0px 20px;
    position: relative;
    margin: 50px 0px;
    color: white;
}
.lFkld {
    margin: 60px 0px 48px;
    display: grid;
    gap: 40px;
    grid-template-rows: 1fr 1fr;
}
.jfeIIM {
    margin: 0px auto;
}
.jziZeF {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 32px;
}
.egQJkW {
    width: 100%;
}
.gvwzSl {
    font-family: var(--bold-font);
    font-weight: 700;
    font-size: 30px;
    margin: 6px 0px 12px;
}
.iqHMbr {
    margin: 6px 0px 20px;
    line-height: 1.5;
    letter-spacing: -0.16px;
}

.gewijh a {
    text-decoration: none;
    font-family: var(--bold-font);
    font-weight: 700;
    color:#8c52ff;

}
.egQJkW {
    width: 100%;
}
.aVORC {
    margin: 0px auto;
}
.jziZeF {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 32px;
}
.CINzm {
    position: relative;
    margin: 0px calc(50% - 50vw);
    height: 319px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/249/768/desktop-wallpaper-violet-stone-texture-creative-purple-background-violet-stone-background-grunge-texture-with-resolution-2880x1800-high-quality-purple-grunge.jpg);
    background-size: cover;
    background-position: center center;
    padding: 0px 42px;
}
.fEEJmt {
    color: white;
    text-align: center;
    font-family: var(--medium-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.4px;
    margin: 0px 0px 40px;
}
.jkWBZ {
    display: block;
    font-family: var(--bold-font);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.2px;
}
.jkWBZ a {
    display: block;
    padding: 15px 20px;
    background: #8c52ff;
    color: rgb(255, 255, 255);
    border: 2px solid   #8c52ff;
    ;
}


@media screen and  (min-width: 768px){
.egQJkW {
    width: 479px;
    height: 320px;
    object-fit: cover;
}
.gvwzSl {
    line-height: 1.4;
    letter-spacing: -0.3px;
    margin: 0px 0px 16px;
    font-size: 40px;
}
.iqHMbr {
    line-height: 1.4;
    letter-spacing: -0.3px;
    margin: 0px 0px 16px;
    font-size: 20px;
    max-width: 481px;
}
.gewijh a {
    transition: all 200ms ease 0s;
    font-size: 20px;
}
.egQJkW {
    width: 479px;
    height: 320px;
    object-fit: cover;
}
.CINzm {
    height: 466px;
}
.fEEJmt {
    font-size: 60px;
    margin: 0px 0px 40px;
}
.jkWBZ {
    font-size: 30px;
    letter-spacing: -0.3px;
}
}



@media screen and (min-width: 1024px){
.jfeIIM {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
    margin-right: auto;
}
.aVORC {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
    margin-left: auto;
}

.jziZeF {
    margin: 0px;
}

}