 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #111;
   color: #fff;
 }

 .contact-container {
   display: flex;
   flex-wrap: wrap;
   max-width: 90%;
   margin: 0 auto;
   margin-bottom: 5%;
 }

 .contact-map {
   position: relative;
   width: 100%;
   padding-bottom: 56.25%;
 }

 .contact-map iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 .left-column {
   flex: 1;
   padding: 3%;
   background-color: #1a1a1a;
 }

 .right-column {
   flex: 1;
   padding: 20px;
   background-color: #1a1a1a !important;
   margin-left: 5%;
 }

 .right-column ul {
   list-style-type: none;
 }

 .contact-master-page h2 {
   font-size: 24px;
   margin-bottom: 20px;
   text-align: center;
   margin-bottom: 5%;
 }

 .form-group,
 .contact-details li {
   margin-bottom: 15px;
 }

 .form-group input,
 .form-group textarea,
 .form-group button,
 .contact-details li {
   width: 100%;
   padding: 10px;
   border: 1px solid #666;
   border-radius: 4px;
   background-color: #222;
   color: #fff;
 }

 .right-column .contact-details li {
   border: none !important;
   background-color: transparent;
 }

 .form-group textarea {
   resize: vertical;
 }

 .form-group button {
   background-color: #e50914;
   border: none;
   cursor: pointer;
 }

 .contact-master-page {
   /* height: 100vh; */
   margin-top: 9%;
 }

 .contact-details img {
   width: 20px;
   height: 20px;
   margin-right: 10px;
 }

 footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px;
   background-color: #333;
   color: #fff;
   font-size: 14px;
 }

 .footer-master {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
 }

 .footer-tags {
   display: flex;
   justify-content: space-between;
   flex: 1;
 }

 .footer-content ul {
   list-style: none;
   padding: 0;
 }

 .footer-content li {
   margin-bottom: 5px;
 }

 .footer-content a {
   color: #fff;
   text-decoration: none;
 }

 .footer-disclaimer {
   width: 100%;
   text-align: center;
   margin-top: 20px;
 }

 @media only screen and (max-width: 480px) {
   .footer-content {
     text-align: center;
   }

   .footer-tags {
     flex-direction: column;
   }

   .footer-tags>.footer-content {
     margin-bottom: 20px;
   }

   .footer-content p {
    width: 100%;
    word-wrap: break-word;
}
 }

 @media (max-width: 768px) {
   .contact-container {
     flex-direction: column;
     width: 100%;
     margin: 0;
   }

   .left-column,
   .right-column {
     flex: auto;
   }

   .footer-tags {
     flex-direction: column;
     margin-bottom: 20px;
   }

   .footer-master {
     flex-direction: column;
   }

 }