body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
    font-family: Rubik,Arial,sans-serif;;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
  }

  .contact-map {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (change this value for different aspect ratios) */
  }
  
  .contact-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .left-column {
    flex: 1;
    padding:3%;
    background-color: #1a1a1a;
  }
  
  .right-column {
    flex: 1;
    padding: 20px;
    background-color: #1a1a1a !important;
    margin-left: 5%;
  }
  .right-column ul
  {
    list-style-type: none;
  }
  
 .contact-master-page h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .form-group,
  .contact-details li {
    margin-bottom: 15px;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group button,
  .contact-details li {
    width: 90%;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
  }
  .right-column .contact-details li
  {
border:none !important; 
background-color: transparent;
font-size: 0.9rem;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  .form-group button
  {
    text-align: center;
  }
  
  .form-group button {
    background-color: #8c52ff;
    border: none;
    cursor: pointer;
    width:50%;
    margin:0 25%;
  }
  .contact-master-page{
    /* height: 100vh; */
    margin-top: 9%;
  }
  
  .contact-details i{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #8c52ff;
  }
  .contact-details li
  {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  
    .left-column,
    .right-column {
      flex: auto;
    }
    .contact-master-page
    {
      margin-top: 30%;
    }
    .right-column
    {
      margin-left: 0;
      margin-top:10%;
      margin-bottom: 10%;
    }
    .right-column ul
    {
      padding:0;
    }
  }

  /* Media query for tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablet devices go here */
}