body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
  font-family: Rubik, Arial, sans-serif;
  ;
}

header {
  background-color: #111;
  padding: 20px 0;
  position: fixed;
  width: 100vw;
  z-index: 100000;
  top: 0;
}

.navbar {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: 7.5rem;
  margin-left: 20%;
}

.logo a {
  text-decoration: none;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.login-stretch {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}

.menu-list-item {
  margin-left: 2rem;
}

.menu li:first-child {
  margin-left: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

/* Add additional styles as needed */
.homepage {
  max-width: 100%;
  margin: 0 auto;
  padding: 5%;
}

.video-section img {
  width: 100%;
  height: 100vh;
}

.category {
  margin-bottom: 5rem;
}

.category h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.thumbnails {
  display: flex;
  overflow-x: auto;
}

.thumbnails::-webkit-scrollbar {
  width: 0;
}

.thumbnail {
  flex: 0 0 18rem;
  margin: 10px;
  background-color: #302f2f;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.thumbnail a {
  text-decoration: none;
}

.thumbnail img {
  width: 100%;
  object-fit: cover;
  height: 10rem;

}

.thumbnail p {
  font-size: 16px;
  margin: 5px 0;
}

.thumbnail:hover {
  transform: scale(1.05);
  cursor: pointer;

}

.category-headlines {
  color: white;
}

footer {
  background-color: #111;
  color: grey;
  padding: 20px;
  text-align: center;

}

.footer-master {
  display: flex;
  justify-content: space-around;
}

.footer-tags {
  display: flex;
  justify-content: space-around;
  min-width: 75%;
}

.footer-content ul {
  text-align: left;
  padding-left: 0;

}

.footer-content ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

.footer-content a {
  color: grey;
  text-decoration: none;
}

.footer-disclaimer {
  margin-top: 20px;
}

.social-icons {
  display: flex;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #fff;
  /* Default background color for icons */
}

.social-icon i {
  color: #fff;
  /* Default icon color */
  width:15px;
}

/* Customize colors for social icons */

.social-icon.facebook {
  background-color: #3b5998;
}

.social-icon.twitter {
  background-color: #1da1f2;
}

.social-icon.instagram {
  background-color: #e4405f;
}


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

.search-box {
  position: absolute;
  top: 40%;
  right: 8%;
  transform: translate(0%, 0%);
  background-color: rgb(103, 95, 95);
  height: 2.5rem;
  border-radius: 2.5rem;
  /* padding: 10px; */
}

.search-btn {
  color: white;
  float: right;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(103, 95, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.fa-search {
  /* font-size: 24px; */
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: white;
  font-size: 20px;
  transition: 0.4s;
  line-height: 50px;
  width: 0;
  font-family: Rubik,Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-left:5px ;
  margin-bottom: 5px;
}
.search-input::placeholder
{
  padding-bottom: 10px;
  color:white;
}

.search-box:hover>.search-input {
  width: 250px;
  padding: 0 7px;
}

.button-container {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.interactive-btn {
  display: flex;
  justify-content: space-between;
}

.interactive-btn button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(21, 19, 19, 0.6);
  border-width: 10px;
  border-color: hsla(0, 20%, 91%, 0.5);
  border-color: #fff;
  color: #fff;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.tags-container {
  color: #fff;
}

.tags-container ul li {
  display: inline-block;
  list-style: circle;
}

.tags-container ul li:before {
  content: "\2022";
  /* Bullet point character */
  margin-right: 5px;
}

/* Basic styling to mimic provided class names */
.title-card .slider-refocus {
  display: block;
}

.boxart-size-7x10 {
  height: 0;
  overflow: hidden;
  padding: 35.714285714% 0;
  position: relative;
  width: 100%;
}

.boxart-rounded {
  border-radius: 0.2vw;
}

.boxart-size-7x10 .top-10-rank {
  bottom: 0;
  left: 0;
  position: absolute;
  right: auto;
  top: 0;
  width: 50%;
}

.svg-icon {
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.title-card .boxart-container img {
  cursor: pointer;
}

.boxart-size-7x10 .boxart-image-in-padded-container {
  bottom: 0;
  height: 100%;
  left: auto;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.boxart-rounded .fallback-text-container {
  border-radius: 4px;
}

.fallback-text-container {
  background-color: #222;
  background-image: linear-gradient(transparent, #000);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

.boxart-size-7x10 .fallback-text {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  font-size: 1.3em;
  margin: 5%;
  padding: 0;
  position: static;
  white-space: normal;
}

.fallback-text {
  bottom: 0;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: 500;
  left: 8%;
  margin: 0;
  overflow: hidden;
  padding: 0 0 10%;
  position: absolute;
  right: 8%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-10-row-container {
  /* display: flex; */
  /* justify-content: center; */
  position: relative;
}

.lolomoRow,
.rowContainer {
  transition: transform .54s cubic-bezier(.5, 0, .1, 1) 0s;
}

.rowContainer {
  position: relative;
  z-index: 0;
}

.rowContainer .rowContent {
  box-sizing: border-box;
  padding: 0;
}

.rowContainer .rowContent .slider {
  z-index: 2;
}

.slider {
  margin: 0;
  padding: 0 4%;
  position: relative;
  touch-action: pan-y;
}

.rowContainer .rowContent .slider .handle {
  background: hsla(0, 0%, 8%, .5);
}

.slider .handle.handlePrev {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  left: -2px;
}

.slider .handle.active {
  cursor: pointer;
}

.slider .handle {
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 4%;
  z-index: 20;
}

.lolomoRow .pagination-indicator {
  display: none;
  list-style-type: none;
  margin: -24px 0 12px;
  padding: 0;
  position: absolute;
  right: 4%;
  top: 0;
}

.slider .sliderMask.showPeek {
  overflow: auto;
}

.slider .sliderMask.showPeek::-webkit-scrollbar {
  overflow: scroll;
}

.slider .sliderMask {
  overflow-x: hidden;
  padding-bottom: 1px;
}

.slider .sliderMask .sliderContent {
  white-space: nowrap;
}

.slider .sliderMask .sliderContent .slider-item:first-child {
  padding-left: 0;
}


.slider .sliderMask .sliderContent .slider-item {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 0.2vw;
  position: relative;
  vertical-align: top;
  white-space: normal;
  z-index: 1;
}

.title-card:not(.loadingTitle) {
  display: block;
}

.title-card {
  position: relative;
  z-index: 1;
}

.title-card .slider-refocus {
  display: block;
}

.rowContainer .rowContent .slider .row-with-x-columns .slider-item {
  width: 25%;
}

.user-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-icon-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(103, 95, 95);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon-circle i {
  color: #fff;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  border: 1px solid hsla(0, 0%, 100%, .15);
  border-radius: 4px;
  display: none;
  overflow: hidden;
  max-height: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: default;
  font-size: 13px;
  line-height: 21px;
  padding: 1rem;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  text-align: center;
  width: 100%;
}

.dropdown a {
  text-decoration: none;
  display: block;
}

.user-icon:hover .dropdown {
  display: block;
  max-height: max-content;
  /* Set max-height to a value larger than the dropdown content */
  min-width: max-content;
}

.dropdown-sub-menu {
  display: flex;
  align-items: center;
  text-align: center;
}

.dropdown-sub-menu i {
  margin-right: 2rem;
}

.billboard-row .billboard {
  background-color: #000;
  height: 56.25vw;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.video-section {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio for the video player */
}

#video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay:hover {
  opacity: 1;
}

.info-button {
  padding: 12px 20px;
  background-color: #e50914;
  color: #ffffff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.more-info-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.billboard-links {
  display: flex;
  margin-top: 5%;
  align-items: center;
}

.logo-and-text {
  width: 30%;
  margin-left: 5%;
  position: absolute;
  top: 65%;
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

.billboard-row .billboard .info .billboard-links>a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.color-primary {
  border-radius: 5px;
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 2.5rem;
}

.more-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 2.5rem;
}

.play-button-container i {
  font-size: 20px !important;
}

.more-info-container i {
  font-size: 20px !important;
}

.fa-circle-info {
  color: white;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.ltr-podnco.color-primary {
  background-color: white;
  color: black;
}

.billboard-links button {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.color-secondary {
  background-color: rgba(109, 109, 110, 0.7) !important;
  color: white;
  border-radius: 5px;
  text-wrap: nowrap;
}

.billboard-links button {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.ltr-1vh9doa {
  margin-left: 8px !important;
}

.hero {
  background-image: url('../img/banner.jpg');
  /* Replace with your hero background image */
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 5%;
}

.hero-content {
  font-size: 1.5rem;
  text-align: center;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color:rgba(0,0,0,0.8);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #8c52ff;
}
.ham-logo-club
{
  display: flex;
  justify-content: center;
}

/* Styles for mobile devices go here */
@media (max-width: 767px) {
  .top-10 {
    visibility: hidden;
    height: 0vh;
  }

  .category .top-10 {
    margin-bottom: 0;
  }

  .category {
    margin-bottom: 2rem;
  }

  .video-section {
    visibility: hidden;
    padding: 0;
  }

  .hero-content {
    font-size: 3rem;
    /* margin-top:30%; */
  }

  .logo-and-text {
    visibility: hidden;
    height: 0;
  }

  .thumbnail {
    flex: 0 0 10rem;
  }

  .button-container {
    visibility: hidden;
    height: 0;
  }

  .tags-container {
    visibility: hidden;
    height: 0;
  }

  .thumbnails {
    flex: 10rem;
    overflow-y: clip;
  }

  .thumbnail img {
    height: 100%;
  }

  .hero-content {
    font-size: 1rem;
  }

  .footer-tags {
    flex-direction: column;
  }

  .footer-master {
    flex-direction: column;
  }

  #mobile-header {
    visibility: visible;
  }

  #desktop-header {
    visibility: collapse;
  }
}

/* Media query for tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {

  /* Styles for tablet devices go here */
  .video-section {
    visibility: hidden;
    padding: 0;
  }

  .hero-content {
    font-size: 3rem;
    /* margin-top:30%; */
  }

  .logo-and-text {
    visibility: hidden;
    height: 0;
  }

  .thumbnail {
    flex: 0 0 10rem;
  }

  .button-container {
    visibility: hidden;
    height: 0;
  }

  .tags-container {
    visibility: hidden;
    height: 0;
  }

  .thumbnails {
    flex: 10rem;
    overflow-y: clip;
  }

  .thumbnail img {
    height: 100%;
  }

  .hero-content {
    font-size: 1rem;
  }

  #mobile-header {
    visibility: visible;
  }

  #desktop-header {
    visibility: collapse;
  }
}

@media screen and (min-width:1024px) {
  #mobile-header {
    visibility: collapse;
  }

  #desktop-header {
    visibility: visible;
  }
}